@page "{id:int}"
@model RazorPagesMega.Pages.Offices.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Office</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.BranchID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.BranchID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.OfficeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.OfficeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Office.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Office.StartDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Office.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
