@page
@model RazorPagesMega.Pages.Offices.IndexModel

@{
    ViewData["Title"] = "Office";
}

<h1>Office</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Office Name <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].BranchID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].OfficeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Office) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
